.site-logo{
    width: 50px;
    height: 40px;
    border-radius: 25px;
}
.title-logo {
    margin-left: 10px;
}

.text h6{
    display: inline;
}
.main-img{
    max-width: 550px;
    border-radius: 25px;
}
.wpb_wrapper{
    width: 400px;
}
.letter{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.letter-list li{
    display: inline;
}
.letter-list{
    font-size: large;
}
.letter-list a{
    color: black;
}
